* {
  box-sizing: border-box;
}
h1 {
  font-size: 100px;
  font-family: 'Galada', cursive;
  color: rgb(15, 5, 5);
}

section {
  background-color: rgba(251, 251, 251, 0.8);
  border: 5px solid rgb(7, 5, 5);
}
body {
  font-family: 'Roboto', sans-serif;
  width: 85%;
  margin: 0 auto;
  font-weight: bolder;
  
  
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  
}

.shopping-list {
  list-style: none;
  padding-left: 0;
  
}

.shopping-list > li {
  margin-bottom: 25px;
  
  padding: 25px;
}

.shopping-item {
  display: block;
  color: rgb(3, 3, 3);
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}


.error-container {
  color: red;
  font-weight: bold;
}

.error-container * {
  display: inline-block;
}

#cancel-error {
  margin-right: 0.5rem;
} 
